    h1 {
        color: white;
        background-color: blue;
        text-align: center;
        font-style: italic;
        font-family: 'Times New Roman', Times, serif;
        padding: 30px;
        margin: 0px;
    }
    
    h3 {
        color: grey;
        background-color: navy;
        text-align: center;
        font-style: bold;
        font-family: 'Times New Roman', Times, serif;
        padding: 20px;
        margin: 0px;
    }
    
    ul {
        text-align: center;
        font-style: bold;
        font-family: 'Times New Roman', Times, serif;
    }